*~
*.csv
*.log
*.pdf
TO-UPLOAD
2025-06-16_Stephanie-Trittel_Soluble-Factors
Controlled-Vocab.R
Flow-cytometry-and-Soluble-Factors-via-Luminex_Stephie-Trittel_HZI.pptx
Guzmán-Riese-Tritel_Soluble-Factors_2026-03-03.xlsx
LUMINEX-INCENTIVE-HZI-FINAL-Cytokines_Concentrations_MFI_NEW.xlsx
# Allow the specific log file to be stored
!parse-Trittel-Soluble-Stim_*.log
